/* Wildcard selector for base page design */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}
/* Generic Stylings */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styling */
    background-color: #272932;
    font-family: lato, sans-serif;
}
a {
    color: #272932;
    text-shadow: #303030 2px 2px 7px;
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    top: 5%;
}
hr {
    display: none;
}
p {
    padding-top: 5%;
}
h3 {
    font-family: orbitron;
    text-shadow: #37ebf3 2px 0 8px ;
}
/* Navbar Styling */
nav {
    padding: 5px 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
}
nav > li {
    font-family: orbitron, lato, sans-serif;
    padding: 12px;
    font-size: 120%;
    text-transform: uppercase;
    align-items: flex-start;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    background-color: #fcf009;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0% 0%);
}
nav > li:last-child {
    margin-left: auto;
}
.active {
    background-color: #ca1dcd;
}
nav > li:hover {
    box-shadow: 0 0 10px 0 #37ebf3,
        inset 0 0 30px 0 #37ebf3;
    text-shadow: 0 0 10px #37ebf3;
}
/* Banner Styling */
#banner {
    height: 400px;
    width: 100%;
    background: url("../images/banner.jpeg") no-repeat top center/cover;
    background-position: 50%, 50%;
    position: relative;
}
#glitch-text {
    font-family: orbitron, lato, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: aliceblue;
    margin-top: 12%;
    padding: 20px;
    bottom: 30px;
    width: 30%;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 300%;
}
/* Content sections*/
#main-squeeze {
    margin: 6%;
    padding: 3%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    background-color: #303030;
    color: aliceblue;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0% 0%);
}
ul > li > #rules {
    list-style: upper-roman;
    text-transform: capitalize;
    text-align: center;
}
/* Fancy Stuff */

/* Scrolling Wrapper */
.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
}
.item {
width: 200px;
height: 100px;
position: absolute;
left: max(calc(200px * 8), 100%);
animation-name: scrollLeft;
animation-duration: 30s;
animation-timing-function: linear;
animation-iteration-count: infinite;
text-align: center;
clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0% 0%);
}
.item:hover {
    box-shadow: 0 0 5px 0 #37ebf3,
    inset 0 0 30px 0 #37ebf3;
text-shadow: 0 0 10px #37ebf3;
}
/* Keyframe animation */
@keyframes scrollLeft {
to {
    left: -200px;
    }
}
/* List items for delay */
.item1 {
animation-delay: calc(30s / 8 * (8 - 1) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item2 {
animation-delay: calc(30s / 8 * (8 - 2) * -1);
background-image: url("../images/popworld.jpg");
background-size: 100%;
background-position: 0;
}

.item3 {
animation-delay: calc(30s / 8 * (8 - 3) * -1);
background-image: url("../images/flight-club.jpg");
background-size: 100%;
background-position: 0;
}

.item4 {
animation-delay: calc(30s / 8 * (8 - 4) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item5 {
animation-delay: calc(30s / 8 * (8 - 5) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item6 {
animation-delay: calc(30s / 8 * (8 - 6) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item7 {
animation-delay: calc(30s / 8 * (8 - 7) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item8 {
animation-delay: calc(30s / 8 * (8 - 8) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

/* Media Queries */
/* Media query: large or landscape phones (360px and up) */
@media screen and (min-width: 360px) {
    #glitch-text {
        font-size: 80%;
        right: 50px;
    }
    #banner {
        height: 300px;
        width: 100%;
    }
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #glitch-text {
        font-size: 100%;
    }
}
/* PC (Large monitors that have HD capabilities) */
@media screen and (min-width: 1200px) {
    #banner {
        height: 500px;
    }
    #glitch-text {
        font-size: 150%;
    }
}