/* Wildcard selector for base page design */
* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;

}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Generic Stylings */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styling */
    background-color: #000000;
}
a {
    color: white;
}
/* Navbar Styling */
nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    border: 1px solid black;
}
nav > li {
    padding: 12px;
    font-size: 120%;
    align-items: flex-start;
}
nav > li:last-child {
    margin-left: auto;
}
.active {
    background-color: #5e5e5e;
}
li:hover {
    background-color: #5e5e5e;
}
/* Banner Styling */
#banner {
    height: 200px;
    width: 100%;
    background: url("../images/banner.jpg") no-repeat center center/cover;
    position: relative;
}
#glitch-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: aliceblue;
    margin-top: 12%;
    padding: 20px;
    bottom: 30px;
    width: 30%;
    padding-top: 20px;
    padding-left: 10px;
}
/* Content sections*/
#main-squeeze {
    margin: 3%;
    padding: 3%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    background-color: #303030;
    color: aliceblue;
}
ul > li > #rules {
    list-style: upper-roman;
    text-transform: capitalize;
    text-align: center;
}
/* Fancy Stuff */

/* Scrolling Wrapper */
.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
.item {
width: 200px;
height: 100px;
background-color: red;
border-radius: 6px;
position: absolute;
left: max(calc(200px * 8), 100%);
animation-name: scrollLeft;
animation-duration: 30s;
animation-timing-function: linear;
animation-iteration-count: infinite;
text-align: center;
}
/* Keyframe animation */
@keyframes scrollLeft {
to {
    left: -200px;
    }
}
/* List items for delay */
.item1 {
animation-delay: calc(30s / 8 * (8 - 1) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item2 {
animation-delay: calc(30s / 8 * (8 - 2) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item3 {
animation-delay: calc(30s / 8 * (8 - 3) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item4 {
animation-delay: calc(30s / 8 * (8 - 4) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item5 {
animation-delay: calc(30s / 8 * (8 - 5) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item6 {
animation-delay: calc(30s / 8 * (8 - 6) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item7 {
animation-delay: calc(30s / 8 * (8 - 7) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

.item8 {
animation-delay: calc(30s / 8 * (8 - 8) * -1);
background-image: url("../images/Lab11.jpg");
background-size: 100%;
background-position: 0;
}

/* Media Queries */
/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    }
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}